# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais
.venv/
venv/
env/
ENV/

# Arquivos temporários do Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Arquivos de sistema operacional
Thumbs.db
desktop.ini
.DS_Store
